@import './dist/style.css';

:root {
  --black: #100e17;
  --black-lighter: #312d3c;
  --orange-gradient: linear-gradient(90deg, #fc6572, #ff805a, #ff9747);
  --shadow: 1px 3px 4px black;
  font-family: Arial, Helvetica, sans-serif
}

body {
  margin: 0;
}
