._header {
  display: flex;
  background: var(--violet-gradient);
  padding: 15px;
  color: white;

  & .nav {
    margin-left: auto;

    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }

  & .logo {
    font-weight: bold;
    font-style: italic;
  }
}
