.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #202020cc;
  z-index: 1;
}
.modal__content {
  margin: auto;
}
.modal__header {
  display: flex;
}
.modal__closeBtn {
  margin-left: auto;
}
