.header {
  display: flex;
  align-items: center;
  background: var(--violet-gradient);
  padding: 5px 10px;
}
.header__auth {
  margin-left: auto;
}
.header__navBtn {
  margin: 5px;
}
.header__logo {
  font-size: 24px;
  margin-right: 20px;
}

.notification {
  position: fixed;
  top: 100px;
  left: calc(50% - 150px);
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  animation:
    appear .5s,
    appear .5s calc(var(--duration) - .5s) reverse forwards;
  z-index: 10;

  &[data-type="hidden"] {
    display: none;
  }
  &[data-type="error"] {
    background: #ff1744;
  }
  &[data-type="success"] {
    background: #09af00;
  }
  &[data-type="warning"] {
    color: #1e1e1e;
    background: #ffc000;
  }
}
