.category-page__tests {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
}
.category-page__test {
  margin: 20px;
}
.category-page__add-btn {
  font-size: 28px;
  display: block;
  align-self: center;
  justify-self: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
}
