.moderation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.moderation__teacher {
  margin-bottom: 15px;
}
.moderation__fire-btn {
  font-size: 12px;
  margin-left: 10px;
}
.moderation__form {
  margin-top: 30px;
}
.moderation__input {
  font: inherit;
  margin-right: 10px;
}
