:root {
  --black: #100e17;
  --black-lighter: #312d3c;
  --orange-gradient: linear-gradient(90deg, #fc6572, #ff805a, #ff9747);
  --violet-gradient: linear-gradient(to left, #6900b2, #c02d7d);
  --shadow: 1px 3px 4px var(--black);
  font-family: Arial, Helvetica, sans-serif
}

body {
  margin: 0;
  color: #fff;
  background: var(--black);
}

i {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-header {
  display: flex;
  align-items: center;
  background: var(--violet-gradient);
  padding: 5px 10px;
}
.app-header-nav {
  margin-left: auto;
}
.app-header-nav-btn {
  margin: 5px 0;
}

.app-header-logo {
  font-size: 24px;
}

.button {
  display: inline-block;
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  background: var(--orange-gradient);
  transition: .3s box-shadow;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.button-inactive {
  background: linear-gradient(#d3cce3, #e9e4f0);
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #202020cc;
  z-index: 1;
}
.modal-hidden {
  display: none;
}
.modal-content {
  margin: auto;
}

.app-auth-header {
  text-align: center;
}
.app-auth {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px 20px;
  margin-bottom: 0;
  background: var(--black);
  box-shadow: var(--shadow);
}
.app-auth-field {
  display: block;
  color: inherit;
  border: none;
  margin: 8px 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--black-lighter);
}
.app-auth-btn {
  margin: 0 auto;
}

.list-page {
  margin-top: 20px;
}
.list-page-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.list-page-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--column-width));
  justify-content: center;
  gap: 20px;
}

.category-name {
  color: #000;
  font-weight: bold;
  text-align: center;
  background: #fff;
  padding: 5px 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  position: relative;
}
.category-test-list {
  margin: 0;
  padding: 10px;
  background: #9e1b92;
}
.category-test-list-item {
  margin-bottom: 5px;
}
.category-test-list-item::before {
  content: 'â—';
  margin-right: 5px;
}
.category-test-list-add-btn {
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}
.category-summary {
  padding-left: 10px;
  background: #711368;
}
.category-summary > div {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}
.category-summary i {
  margin-right: 2px;
}
.category-actions {
  text-align: end;
  margin-top: 10px;
}
.category-actions .button {
  font-size: 12px;
  padding: 5px 15px;
}

.categories-add {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.categories-add-input {
  font-size: inherit;
  border: none;
  width: 300px;
  padding: 0 15px;
  margin-right: 5px;
  border-radius: 8px;
}
.categories-add-btn {
  padding: 6px 11px;
}

.profile {
  padding: 0 50px;
}
.profile-tests {
  display: flex;
}
.profile-test {
  width: 300px;
  margin-right: 20px;
}
.profile-test-name {
  padding: 10px;
  background: deeppink;
}
.profile-test-stats {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: #711368;
}
.profile-test-actions {
  text-align: end;
  margin-top: 10px;
}
.profile-test-btn {
  font-size: 12px;
  padding: 5px 10px;
}

.test-page {
  padding: 50px;
}
.test-page-frame {
  --slide-width: 200px;
  --slide-height: 200px;
  --slide-index: 0;

  display: flex;
  overflow: hidden;
  width: var(--slide-width);
}
.test-page-test {
  width: var(--slide-width);
  height: var(--slide-height);
  flex-shrink: 0;
  background: #6900b2;
  transform: translateX(calc(var(--slide-index) * var(--slide-width) * -1));
  transition: transform .5s;
}
