:root {
  --black: #100e17;
  --black-lighter: #312d3c;
  --orange-gradient: linear-gradient(90deg, #fc6572, #ff805a, #ff9747);
  --violet-gradient: linear-gradient(to left, #6900b2, #c02d7d);
  --shadow: 1px 3px 4px var(--black);
  font-family: Arial, Helvetica, sans-serif
}

body {
  margin: 0;
  color: #fff;
  background: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

.app-header {
  display: flex;
  align-items: center;
  background: var(--violet-gradient);
  padding: 5px 10px;
}
.app-header-nav {
  margin-left: auto;
}
.app-header-nav-btn {
  margin: 5px 0;
}

.app-header-logo {
  font-size: 24px;
}

.button {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  background: var(--orange-gradient);
  transition: .3s box-shadow;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.button-inactive {
  background: linear-gradient(#d3cce3, #e9e4f0);
}
