:root {
  --black: #100e17;
  --black-lighter: #312d3c;
  --orange-gradient: linear-gradient(90deg, #fc6572, #ff805a, #ff9747);
  --violet-gradient: linear-gradient(to left, #6900b2, #c02d7d);
  --shadow: 1px 3px 4px var(--black);
  font-family: Arial, Helvetica, sans-serif
}

body {
  margin: 0;
  color: #fff;
  background: var(--black);
}

i {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-header {
  display: flex;
  align-items: center;
  background: var(--violet-gradient);
  padding: 5px 10px;
}
.app-header-nav {
  margin-left: auto;
}
.app-header-nav-btn {
  margin: 5px;
}

.app-header-logo {
  font-size: 24px;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 30px;
}

.button {
  display: inline-block;
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  background: var(--orange-gradient);
  transition: .3s box-shadow;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.button-inactive {
  background: linear-gradient(#d3cce3, #e9e4f0);
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #202020cc;
  z-index: 1;
}
.modal-hidden {
  display: none;
}
.modal-content {
  margin: auto;
}

.app-auth-header {
  text-align: center;
}
.app-auth {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px 20px;
  margin-bottom: 0;
  background: var(--black);
  box-shadow: var(--shadow);
}
.app-auth-field {
  display: block;
  color: inherit;
  border: none;
  margin: 8px 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--black-lighter);
}
.app-auth-btn {
  margin: 0 auto;
}

.list-page {
  margin-top: 20px;
}
.list-page-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.list-page-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--column-width));
  justify-content: center;
  gap: 20px;
}

.category {
  width: 500px;
}
.category__header {
  position: relative;
  color: #000;
  font-weight: bold;
  text-align: center;
  background: #fff;
  padding: 5px 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  position: relative;
}
.category__header__close-btn {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
.category__test-list {
  margin: 0;
  padding: 10px;
  background: #9e1b92;
}
.category__test-list__test {
  margin-bottom: 10px;

  &::before {
    content: '●';
    margin-right: 5px;
  }
  &.--finished .category__test-list__test__name {
    text-decoration: line-through;
  }
}
.category__test-list__add-btn {
  font-size: 18px;
  width: 130px;
  margin: 10px auto 0;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
.category__summary {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: #711368;

  & > div {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
  }

  & .button {
    font-size: 12px;
    margin-left: auto;
    padding: 6px 10px;
  }

  & i {
    font-size: 16px;
    margin-right: 2px;
  }
}

.page-categories__add {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.page-categories__add__input {
  font-size: inherit;
  border: none;
  width: 300px;
  padding: 0 15px;
  margin-right: 5px;
  border-radius: 8px;
}
.page-categories__add__btn {
  padding: 6px 10px;
}
.page-categories__category-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > *{
    margin-bottom: 40px;
  }
}

.profile {
  padding: 0 50px;
}
.profile-tests {
  display: flex;
}
.profile-test {
  width: 300px;
  margin-right: 20px;
}
.profile-test-name {
  padding: 10px;
  background: deeppink;
}
.profile-test-stats {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: #711368;
}
.profile-test-actions {
  text-align: end;
  margin-top: 10px;
}
.profile-test-btn {
  font-size: 12px;
  padding: 5px 10px;
}

.category-page__test-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  padding: 20px;
}
.category-page__add-btn {
  font-size: 28px;
  display: block;
  align-self: center;
  justify-self: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
}
.category-page__link {
  font-size: 12px;
  margin: 20px auto 0;
  padding: 5px 10px;
}
.category-page__test {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px;
  padding: 10px 20px;
  text-align: center;
  background: cadetblue;
}
.category-page__test__name {
  margin-bottom: 10px;
}
.category-page__test__description {
  margin: auto 0;
}
.category-page__test__delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.test-page {
  overflow: hidden;
}
.test-page__frame {
  position: relative;
  display: flex;
  --slide-index: 0;
}
.test-page__nav-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  width: 30px;
  height: 100%;
  cursor: pointer;
  background: #7802cc;
  z-index: 1;

  &.--right {
    left: calc(100% - 30px);
  }
  &.--disabled {
    pointer-events: none;
    background: #343a40;
  }
  &.--warning {
    background: #ff934a;
  }
}
.test-page__question {
  --slide-width: 500px;
  --slide-height: 200px;
  --spacing: calc((100vw - var(--slide-width)) / 4);
  --middle: calc(50vw - var(--slide-width) / 2 - var(--spacing));
  --step: calc(var(--slide-width) + 2 * var(--spacing));
  width: var(--slide-width);
  height: var(--slide-height);
  margin: 0 var(--spacing);
  flex-shrink: 0;
  background: #6900b2;
  transform: translateX(calc(var(--middle) - var(--slide-index) * var(--step)));
  transition: transform .35s;
}
.test-page__question__title {
  font-size: 20px;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
}
.test-page__question__answers {
  counter-reset: index;
}
.test-page__question__answers__item {
  display: flex;

  & div {
    width: 100%;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background: #570095;
    }
    &::before {
      counter-increment: index;
      content: counter(index) ')';
      margin-right: 10px;
    }
  }
  & input {
    display: none;
  }
  & input:checked ~ div {
    background: #9e1b92;
  }
}
.test-page__navigation {
  display: flex;
  justify-content: center;
  margin: 10px 0 50px;

  & > div {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    background: #8e8a99;

    &.--active {
      background: #fff;
    }
  }
}
.test-page__finish-btn {
  display: block;
  margin: 0 auto;
}

.result-page {
  text-align: center;
}
.result-page__result {
  font-size: 30px;
  font-style: italic;
}
.result-page__conclusion {
  font-size: 18px;
}

.test-add-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.test-add-page__editable {
  display: block;
  color: #fff;
  border: none;
  text-align: center;
  background: transparent;

  &.--name {
    width: 500px;
  }
  &.--question {
    font-size: 16px;
    width: 80%;
    margin: 0 auto 10px;
  }
  &.--answer {
    font-size: 16px;
    width: 100%;
    text-align: left;
  }
}
.test-add-page__question {
  position: relative;
  width: 500px;
  background: #6900b2;
  padding: 10px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.test-add-page__remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.test-add-page__question__answer {
  position: relative;
  display: flex;

  & .test-add-page__editable {
    padding: 5px 10px;
  }
  & input[type="radio"] {
    width: 40px;
    margin: 0 0 0 -10px;

    &:checked ~ * {
      background: #2da81a;
    }
  }
}
.test-add-page__question__add-btn {
  font-size: 12px;
  display: block;
  margin: 10px auto 0;
  padding: 5px 8px;
}
.test-add-page__add-btn {
  margin-bottom: 50px;
}
