:root {
  --black: #100e17;
  --black-lighter: #312d3c;
  --orange-gradient: linear-gradient(90deg, #fc6572, #ff805a, #ff9747);
  --violet-gradient: linear-gradient(to right, #b701ac, #4e007e);
  --shadow: 1px 3px 4px var(--black);
  font-family: Arial, Helvetica, sans-serif
}

body {
  margin: 0;
  color: #fff;
  background:#4a0079;
}

i {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-header {
  display: flex;
  align-items: center;
  background: var(--violet-gradient);
  padding: 5px 10px;
}
.app-header-auth {
  margin-left: auto;
}
.app-header-nav-btn {
  margin: 5px;
}
.app-header-logo {
  font-size: 24px;
  margin-right: 20px;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 30px;
}

.button {
  display: inline-block;
  padding: 5px 15px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  background: #f66200;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;

  &[variant="secondary"] {
    background: linear-gradient(#d3cce3, #e9e4f0);
  }
  &[variant="disabled"] {
    background: linear-gradient(90deg, #898989, #c0c0c0);
  }
  &:not([variant="disabled"]):active {
    transform: scale(0.96);
  }
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #202020cc;
  z-index: 1;
}
.modal-hidden {
  display: none;
}
.modal-content {
  margin: auto;
}

.app-auth-header {
  text-align: center;
}
.app-auth {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px 20px;
  margin-bottom: 0;
  background: var(--black);
  box-shadow: var(--shadow);
}
.app-auth-field {
  display: block;
  color: inherit;
  border: none;
  margin: 8px 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--black-lighter);
}
.app-auth-btn {
  margin: 0 auto;
}

.editable {
  display: block;
  color: #fff;
  border: none;
  background: transparent;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.notification {
  position: fixed;
  top: 100px;
  left: calc(50% - 150px);
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, .25);
  animation:
    appear .5s,
    appear .5s calc(var(--duration) - .5s) reverse forwards;
  z-index: 10;

  &.--hidden {
    display: none;
  }
  &.--error {
    background: #ff1744;
  }
  &.--success {
    background: #09af00;
  }
  &.--warning {
    color: #1e1e1e;
    background: #ffc000;
  }
}

.list-page {
  margin-top: 20px;
}
.list-page-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.list-page-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--column-width));
  justify-content: center;
  gap: 20px;
}

.test-card__summary {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 20px;
  text-align: center;
  background: cadetblue;
}
.test-card__name {
  margin-bottom: 10px;
}
.test-card__results-header {
  margin: 10px 0;
  text-decoration: underline;
}
.test-card__results {
  & .test-result {
    margin-bottom: 5px;
  }
}
.test-card__edit-btn,
.test-card__delete-btn {
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
}
.test-card__edit-btn {
  right: 5px;
}
.test-card__delete-btn {
  left: 5px;
}
.test-card__link {
  font-size: 12px;
  margin-left: auto;
  padding: 3px 8px;
}
.test-card__stats {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: #006776;

  & > div {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  & i {
    font-size: 16px;
    margin-right: 5px;
  }
}
.test-card__creator {
  font-size: 12px;
  cursor: pointer;
  color: lightgray;
  margin-top: 5px;

  &:hover {
    text-decoration: underline;
  }
}

.test-result {
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;

  &:not(:hover) .test-result__conclusion {
    display: none;
  }
  & i {
    font-size: .9em;
    vertical-align: super;
    margin-left: 5px;
  }
}
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.test-result__conclusion {
  font-style: italic;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  padding: 5px 10px;
  background: #2d0153;
  animation: appear .25s forwards;
}

.page-categories__add {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.page-categories__add-input {
  font-size: inherit;
  border: none;
  width: 300px;
  padding: 0 15px;
  margin-right: 5px;
  border-radius: 8px;
}
.page-categories__add-btn {
  padding: 6px 10px;
  border-radius: 50%;
}
.page-categories__category-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > *{
    margin-bottom: 40px;
  }
}
.page-categories__category {
  width: 500px;
}
.page-categories__category-header {
  position: relative;
  font-weight: bold;
  text-align: center;
  background: #c92834;
  padding: 5px 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  position: relative;
}
.page-categories__category-name {
  font-size: 16px;
  width: 85%;
  margin: 0 auto;
  text-align: center;

  &:not([disabled]) {
    font-style: italic;
  }
}
.page-categories__category-delete-btn {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
.page-categories__category-test-list {
  margin: 0;
  padding: 20px 10px 10px;
  background: #332936;
}
.page-categories__test {
  margin-bottom: 10px;

  &::before {
    content: 'â—';
    margin-right: 5px;
  }
  &.--finished .page-categories__test-name {
    text-decoration: line-through;
  }
}
.page-categories__test-add-btn {
  font-size: 18px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
  &:not(:first-child) {
    margin-top: 30px;
  }
}
.page-categories__category-summary {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: #3f344e;

  & > div {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
  }

  & .button {
    font-size: 12px;
    margin-left: auto;
    padding: 6px 10px;
  }

  & i {
    font-size: 16px;
    font-weight: 100;
    margin-right: 2px;
  }
}
.page-categories__category-creator {
  font-size: 12px;
  color: #eaeaea;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__name {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 500px;
  margin: 20px auto 10px;
  border-bottom: 1px solid gray;
}
.profile__tests-title {
  margin-bottom: 0;
}
.profile__tests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
}
.profile__test {
  width: 300px;
  text-align: center;
  margin: 20px;
}
.profile__test-name {
  padding: 10px;
  background: #9e1b92;
}
.profile__test-info {
  padding: 10px;
  background: #570095;
}

.category-page__test-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  padding: 20px;

  & .test-card {
    margin: 20px;
  }
}
.category-page__add-btn {
  font-size: 28px;
  display: block;
  align-self: center;
  justify-self: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
}

.test-page {
  overflow: hidden;
}
.test-page__frame {
  position: relative;
  display: flex;
  --slide-index: 0;
}
.test-page__nav-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  width: 30px;
  height: 100%;
  cursor: pointer;
  background: #7802cc;
  border-radius: 0 50% 50% 0;
  z-index: 1;

  &:last-child {
    border-radius: 50% 0 0 50%;
  }
  &.--right {
    left: calc(100% - 30px);
  }
  &.--disabled {
    pointer-events: none;
    background: #343a40;
  }
  &.--warning {
    background: #ff934a;
  }
}
.test-page__question {
  --slide-width: 500px;
  --spacing: calc((100vw - var(--slide-width)) / 4);
  --middle: calc(50vw - var(--slide-width) / 2 - var(--spacing));
  --step: calc(var(--slide-width) + 2 * var(--spacing));
  width: var(--slide-width);
  margin: 0 var(--spacing);
  flex-shrink: 0;
  background: #6900b2;
  transform: translateX(calc(var(--middle) - var(--slide-index) * var(--step)));
  transition: transform .35s;
}
.test-page__question__title {
  font-size: 20px;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
}
.test-page__question__answers {
  counter-reset: index;
}
.test-page__question__answers__item {
  display: flex;
  margin-bottom: 10px;

  & div {
    width: 100%;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background: #570095;
    }
    &::before {
      counter-increment: index;
      content: counter(index) ')';
      margin-right: 10px;
    }
  }
  & input {
    display: none;
  }
  & input:checked ~ div {
    background: #9e1b92;
  }
}
.test-page__navigation {
  display: flex;
  justify-content: center;
  margin: 10px 0 50px;

  & > div {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    background: #8e8a99;

    &.--active {
      background: #fff;
    }
  }
}
.test-page__finish-btn {
  display: block;
  margin: 0 auto;
}

.result-page {
  text-align: center;
}
.result-page__score {
  font-size: 30px;
  font-style: italic;
  margin-bottom: 10px;
}
.result-page__conclusion {
  font-size: 18px;
}

.test-add-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .editable {
    text-align: center;

    &.--name {
      width: 500px;
    }
    &.--question {
      font-size: 16px;
      width: 80%;
      margin: 0 auto 10px;
    }
    &.--answer {
      font-size: 16px;
      width: 100%;
      text-align: left;
    }
  }
}
.test-add-page__question {
  position: relative;
  width: 500px;
  background: #6900b2;
  padding: 10px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.test-add-page__remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.test-add-page__question__answer {
  position: relative;
  display: flex;
  align-items: center;

  & .editable {
    padding: 5px 10px;
  }
  & input[type="checkbox"] {
    width: 40px;
    margin: 0 0 0 -10px;

    &:checked ~ * {
      background: #2da81a;
    }
  }
}
.test-add-page__question__add-btn {
  font-size: 12px;
  display: block;
  margin: 10px auto 0;
  padding: 5px 8px;
}
.test-add-page__send-btn {
  margin: 50px 0;
}
.test-add-page__conclusion {
  position: relative;
  margin-bottom: 20px;
  user-select: none;

  & textarea {
    font: inherit;
    color: #cecece;
    background: transparent;
  }
  & select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  & textarea {
    resize: none;
    width: 200px;
    height: 100px;
    padding: 5px 10px;
    border: 1px dashed darkcyan;
    border-radius: 5px;
  }
  & span {
    color: #898989;
  }
}
.test-add-page__conclusion-close {
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: -30px;
}
.test-add-page__conclusion-add {
  font-size: 35px;
  color: gray;
  cursor: pointer;
}
