._auth {
  width: 400px;
  display: inline-block;
  box-shadow: var(--shadow);

  & .header {
    text-align: center;
    background: var(--orange-gradient);
    padding: 5px 0;
  }

  & form {
    display: flex;
    flex-direction: column;
    background: var(--black);
    padding: 20px;
    margin-bottom: 0;
  }

  & input {
    border: none;
    display: block;
    color: inherit;
    margin: 8px 0;
    padding: 5px 10px;
    border-radius: 5px;
    background: var(--black-lighter);
  }

  & .submit {
    margin-left: auto;
  }
}
