.Button {
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #fc6572, #ff805a, #ff9747);
  transition: .3s box-shadow;
  text-decoration: none;
}
